<nav class="navbar navbar-expand-lg navbar-dark navbg font">
    <div class="container-fluid">
      <a class="nav-item phone" href="#">

        <fa-icon [icon]="faPhone"></fa-icon>

         call Us: +777 6767 7878 (Free)</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navp">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How to Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "href="#">Track Order</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right navp2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  USD
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">USD</a></li>
                  <li><a class="dropdown-item" href="#">EUR</a></li>
                  <li><a class="dropdown-item" href="#">INR</a></li>
                  <li><a class="dropdown-item" href="#">CNY</a></li>
                  <li><a class="dropdown-item" href="#">EUR</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link ">English</a>
              </li>
    </ul>
      </div>
    </div>
  </nav>
<br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" class="border border-top-0 border-start-0 border-end-0" placeholder="Search Here" >
      </div>
      <div class="col-6 font logo2">
        <h1>your<span class="logo1">logo</span>
    </h1>
      </div>
      <div class="col-3">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <fa-icon [icon]="faHeart"></fa-icon>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <fa-icon [icon]="faChart"></fa-icon>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <fa-icon [icon]="faBag"></fa-icon>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="">
                    <fa-icon [icon]="faUser"></fa-icon>
                  </a>
                </li>
              </ul>
      </div>
    </div>



